<html>
<head>
<title>Brief introduction to ggplot2 for shinyapp</title>
</head>
<body>
<h1>Brief introduction to ggplot2 for shinyapp</h1>

<h2>App Overview</h2>
<p>This app is to provide brief introduction to ggplot2 in R. It has 5 parameters to select variable x, variable y, color variable, facet wrap variable and type of the plot. The dataset used is the mpg dataset in R for 38 models in car.

<h2>Usage</h2>
<ol>
<li>Select any of the 5 parameters
<li>The plot & ggplot command will change automatically

</ol>

<h2>Code Access</h2>
<p>The ui.R, server.R and other related files are available at this public git repository <a href="https://github.com/">https://github.com/welcheb/DevelopingDataProductsProject</a>
</body>
</html>